<div class="row index">
	<% if user_signed_in? %>
		<div class="col-sm-12 index_signed_in">
			<h1>Last 3 weeks distance graph</h1>

			<%= content_tag :div, "", id: "sessions_chart", data: {sessions: sessions_chart_data} %>

			<h1>Last 3 weeks running graph</h1>

			<%= content_tag :div, "", id: "running_chart", data: {running: running_chart_data} %>

			<h1>Last 3 weeks swimming graph</h1>

			<%= content_tag :div, "", id: "swimming_chart", data: {swimming: swimming_chart_data} %>

			<h1>Last 3 weeks cycling graph</h1>

			<%= content_tag :div, "", id: "cycling_chart", data: {cycling: cycling_chart_data} %>

			<h1>Training History</h1>

			<% @workouts.each do |workout| %>
				<div class="training_index">
					<h2><%= link_to workout.workout, workout %></h2>
					<h4><%= link_to workout.date, workout %></h4>
					<hr>
				</div>
			<% end %>
		</div>
	<% else %>
		<div class="col-sm-12 index_not_signed_in">

			<div class="row banner">
					<h1>START YOUR JOURNEY</h1>
					<h1>TO HEALTHY LIFE</h1>
					<%= link_to "SIGN UP FOR FREE", new_user_registration_path, class: "btn btn-default signup"%>
					<%= link_to "SIGN IN", new_user_session_path, class: "btn btn-default login"%>
			</div>

			<div class="row service">
				<h1>How it works?</h1>
				<div class="line">
					<ul>
						<li class="wow slideInRight" data-wow-duration="1s">Add your training details</li>
						<li class="wow slideInRight" data-wow-duration="1.1s">Calculate session parameters</li>
						<li class="wow slideInRight" data-wow-duration="1.2s">Control amount of calories</li>
						<li class="wow slideInRight" data-wow-duration="1.3s">Analyse session graphs</li>
						<li class="wow slideInRight" data-wow-duration="1.4s">Be proud of better shape</li>
					</ul>
				</div>
			</div>

			<div class="row newsletter">
				<h2>Sign Up for newsletter</h2>
				<div class="newsletter_form">
					<div class="col-sm-5 col-sm-offset-1">
						<input type="text" class="form-control" placeholder="Address e-mail" class="newsletter-input">
					</div>
					<div class="col-sm-5">
						<div class="btn btn-default newsletter_button">SEND</div>
					</div>
				</div>
			</div>

		</div>
	<% end %>
</div>
