<div class="row index">
	<% if user_signed_in? %>
		<div class="col-sm-12 index_signed_in">
			<h1>Last 3 weeks distance graph</h1>

			<%= content_tag :div, "", id: "sessions_chart", data: {sessions: sessions_chart_data} %>

			<h1>Training History</h1>

			<% @workouts.each do |workout| %>
				<div class="training_index">
					<h2><%= link_to workout.workout, workout %></h2>
					<h4><%= link_to workout.date, workout %></h4>
					<hr>
				</div>
			<% end %>
		</div>
	<% else %>
		<div class="col-sm-12 index_not_signed_in">

			<div class="banner">
					<h1><span>FIT</span> VIEW</h1>
					<%= link_to "Log In", new_user_session_path, class: "btn btn-default login"%>
					<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default signup"%>
			</div>

			<div class="mission">
				<h1>FitView Mission</h1>
				<p>
					We want help you achieve your fitness goals by adding your training sessions, control your diet and health condition.
				</p>
			</div>

			<div class="functions">
				<h1>What exactly I can do with this app?</h1>
				<p>
					<%= image_tag("add.png", :alt => "add") %>
					Add your training sessions with basic parameters.
				</p>
				<p>
					<%= image_tag("calculate.png", :alt => "calculate") %>
					Calculate your BMI and BMR to control weight.
				</p>
				<p>
					<%= image_tag("count.png", :alt => "count") %>
					Count your daily calories limit.
				</p>
			</div>

		</div>
	<% end %>
</div>
