.training 
    %p <strong> Date: </strong> #{ @training.date.strftime("%Y-%m-%d %H:%M") }
    %p <strong> What training: </strong> #{ @training.workout }
    %p <strong> Your mood: </strong> #{ @training.mood }
    %p <strong> Weather: </strong> #{ @training.weather }
    %p <strong> Time: </strong> #{ @training.length } min
    %p <strong> Distance: </strong> #{ @training.distance } km
    %p <strong> Average speed: </strong> #{ (@training.distance.to_f/(@training.length.to_f/60)).to_f } km/h
    
=link_to "Edytuj", edit_workout_path(@training) 
=link_to "Usun", workout_path(@training), method: :delete, data: { confirm: "Jestes pewien?" }