.training 
    %p <strong> Date: </strong> #{ @workout.date.strftime("%Y-%m-%d %H:%M") }
    %p <strong> What training: </strong> #{ @workout.workout }
    %p <strong> Your mood: </strong> #{ @workout.mood }
    %p <strong> Weather: </strong> #{ @workout.weather }
    %p <strong> Intensity: </strong> #{ @workout.intensity } 
    %p <strong> Time: </strong> #{ @workout.length } min
    %p <strong> Distance: </strong> #{ @workout.distance } km
    %p <strong> Average speed: </strong> #{ (@workout.distance.to_f/(@workout.length.to_f/60)).to_f } km/h
    %p <strong> Average amount of burned calories: </strong> #{ @calories } kcal
    %p <strong> Comment: </strong> #{ @workout.comment }
    
=link_to "Edit", edit_workout_path(@workout) 
=link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Jestes pewien?" }