<div class="row about">

	<div class="about_header">
		<%= image_tag current_user.avatar.url(:medium) %>
		<h2><%= current_user.name%> <%= current_user.surname %>, <%= current_user.age %></h2>
	</div>

	<div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 about_details">
		<p><span> Weight : </span><%=current_user.weight%> kg</p>
		<p><span> Height : </span><%=current_user.height%> cm</p>
		<p><span> Sex : </span><%=current_user.sex%></p>

		<div class="line"></div>

		<p><span> Daily activity : </span><%= current_user.activity %></p>
		<p><span> Diet goal : </span><%= current_user.goals %></p>
		<p><span> BMI : </span><%= @bmi %></p>
		<p><span> BMR : </span><%= @bmr %> </p>

		<div class="line"></div>

		<p><span> All training sessions : </span><%= current_user.workouts.count %></p>
		<p><span> All distance : </span><%= @full_distance %> km</p>
		<p><span> All time in trainings : </span><%= @full_time %> min</p>
	</div>
</div>
