<div class="row diet">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Your goal is to "<%= current_user.goals %>".</h1>

		<h2>You must eat <%= @diet_calories %> kcal, because your daily activity is "<%= current_user.activity %>"</h2>

		<h2> We recoment to eat in diet 60% carbs, 20% protein and 20% fat.
		 In your case, Carbs = <%= (@diet_calories * 0.6).round(1) %> kcal, Protein = <%= (@diet_calories * 0.2).round(1)%> kcal, Fat = <%= (@diet_calories * 0.2).round(1)%> kcal.</h3>

		<div id="diet-circle"></div>

		<h2> Your bmi = <%=@bmi%>. Your weight status is "<%=@bmi_norm%>".</h2>
	</div>
</div>
