<!DOCTYPE html>
<html>
	<head>
		<title>Workout Log Application</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "https://www.google.com/jsapi" %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<!-- marker google font -->
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

		<!-- raleway google font -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

		<!-- graphs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	</head>

	<body>
		<% if user_signed_in? %>
			<nav class="navbar navbar-default navbar-findcond">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <%= link_to "FitView", root_path, class: "navbar-brand" %>
			    </div>
			    <div class="collapse navbar-collapse">
			      <ul class="nav navbar-nav navbar-right">
							<li class="option"><%= link_to "New Training", new_workout_path %></li>
							<li class="option"><%= link_to "My Info", info_about_path %></li>
							<li class="option"><%= link_to "My Diet Plan", info_diet_path %></li>
							<li class="option"><%= link_to "Update My Info",edit_user_registration_path %></li>
							<li class="option"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		<% end %>

		<div class="container">
		  	<div class="jumbotron">
		  		<%= yield %>

					<div class="row footer">
						<div class="col-sm-9 col-xs-9">
							<h2>FitView</h2>
							<p>&copy; 2016 FitView, Inc. All rights reserved.</p>
						</div>
						<div class="col-sm-1 col-xs-1 icon wow slideInRight" data-wow-duration="1s">
							<%= fa_icon "facebook" %>
						</div>
						<div class="col-sm-1 col-xs-1 icon wow slideInRight" data-wow-duration="1.1s">
							<%= fa_icon "twitter" %>
						</div>
						<div class="col-sm-1 col-xs-1 icon wow slideInRight" data-wow-duration="1.2s">
							<%= fa_icon "instagram" %>
						</div>
					</div>
		  	</div>
		</div>

		<!-- js temporary scripts -->

		<script>
			new Morris.Line({
			  element: 'distance_chart',
			  resize: true,
			  data: $('#distance_chart').data('distance'),
			  xkey: 'date',
			  ykeys: ['distance_c', 'distance_r', 'distance_s'],
			  labels: ['Cycling distance [km]', 'Running distance [km]', 'Swimming distance [km]']
			});
		</script>

		<script>
			new Morris.Donut({
			  element: 'diet-circle',
			  resize: true,
			  data: [
			    {label: "Carbs", value: Math.round((<%= @diet_calories %> * 0.6)) },
			    {label: "Protein", value: Math.round((<%= @diet_calories%> * 0.2)) },
			    {label: "Fat", value: Math.round((<%= @diet_calories %>* 0.2)) }
			  ]
			});
		</script>

		<!-- wow.js library -->
		<script>
			new WOW().init();
		</script>

	</body>
</html>
