<!DOCTYPE html>
<html>
	<head>
		<title>Workout Log Application</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "https://www.google.com/jsapi" %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<!-- marker google font -->
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

		<!-- raleway google font -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

		<!-- graphs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	</head>
	<body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <%= link_to "FitView", root_path, class: "navbar-brand" %>
		    </div>
		    <div class="collapse navbar-collapse">
		      <ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>
							<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
							<li><%= link_to "New Training", new_workout_path %></li>
							<li><%= link_to "My Info", info_about_path %></li>
							<li><%= link_to "My Diet Plan", info_diet_path %></li>
							<li><%= link_to "Update My Info",edit_user_registration_path %></li>
						<% else %>
							<li><%= link_to "Sign Up", new_user_registration_path%></li>
							<li><%= link_to "Sign In", new_user_session_path%></li>
						<% end %>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="container">
		  	<div class="jumbotron">
		  		<%= yield %>
		  	</div>
		</div>

		<!-- js temporary scripts -->

		<script>
			new Morris.Line({
			  element: 'sessions_chart',
			  resize: true,
			  data: $('#sessions_chart').data('sessions'),
			  xkey: 'date',
			  ykeys: ['distance'],
			  labels: ['Distance']
			});
		</script>

		<script>
			new Morris.Line({
			  element: 'running_chart',
			  resize: true,
			  data: $('#running_chart').data('running'),
			  xkey: 'date',
			  ykeys: ['distance'],
			  labels: ['Distance']
			});
		</script>

		<script>
			new Morris.Line({
			  element: 'swimming_chart',
			  resize: true,
			  data: $('#swimming_chart').data('swimming'),
			  xkey: 'date',
			  ykeys: ['distance'],
			  labels: ['Distance']
			});
		</script>

		<script>
			new Morris.Line({
			  element: 'cycling_chart',
			  resize: true,
			  data: $('#cycling_chart').data('cycling'),
			  xkey: 'date',
			  ykeys: ['distance'],
			  labels: ['Distance']
			});
		</script>

		<script>
			new Morris.Donut({
			  element: 'diet-circle',
			  resize: true,
			  data: [
			    {label: "Carbs", value: Math.round((<%= @diet_calories %> * 0.6)) },
			    {label: "Protein", value: Math.round((<%= @diet_calories%> * 0.2)) },
			    {label: "Fat", value: Math.round((<%= @diet_calories %>* 0.2)) }
			  ]
			});
		</script>

	</body>
</html>
